<button (click)="onSelectionModeChanged()">Selection mode on\off</button>
<button (click)="onSelectAllChanged()">{{(selected) ? 'unselect' : 'select'}}</button>
<div>Total count: {{youtubeItemSnippets.length}}</div>
<div>Selected records: {{youtubeCheckboxedItemsNumber}}</div>
<ag-grid-angular
  id="myGrid"
  style="width: 900px; height: 600px; overflow: scroll"
  class="ag-theme-balham"
  rowSelection="multiple"
  rowHeight="100"
  [enableFilter]="true"
  [columnDefs]="columnDefs"
  [rowData]="(youtubeItemSnippets)"
  (selectionChanged)="onSelectionChanged()"
  [suppressRowClickSelection]="true"
  [getContextMenuItems]="getContextMenuItems"
  [popupParent]="popupParent"
  (gridReady)="onGridReady($event)"
>
</ag-grid-angular>
